# ── Python ──────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
.eggs/

# ── Entorno virtual ─────────────────────────────────────────────
venv/
.venv/
env/
.env.local
.env.development
.env.production
.env
node_modules/
package-lock.json
SUGERENCIAS.txt

# ── Logs ────────────────────────────────────────────────────────
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
desktop.ini

# ── IDE ─────────────────────────────────────────────────────────
.vscode/
.idea/
*.suo
*.user

static/uploads/*.jpg
static/uploads/*.jpeg
static/uploads/*.png
static/uploads/*.webp
!static/uploads/logo.ico
!static/uploads/logo.png
!static/uploads/nu.logo.png
!static/uploads/googlogo.ico
!static/uploads/nequi.logo.png
!static/uploads/bre-b.logo.png
!static/uploads/daviplata.logo.png
!static/uploads/bancolombia.logo.png
!static/uploads/default_icon_profile.png