# python-version: 3.12.8
Flask==3.0.3
Flask-Cors==4.0.1
python-dotenv==1.0.1
requests==2.32.3
waitress==3.0.0
supabase==2.10.0
httpx==0.27.2
google-auth==2.29.0
google-auth-oauthlib==1.2.1
cryptography==42.0.8
pyasn1==0.6.0
pyasn1-modules==0.4.0 
cloudinary==1.40.0
gunicorn==22.0.0